$black: rgb(10, 10, 20);
$dark-gray: rgb(50, 50, 60);
$light-gray: rgb(230, 230, 230);
$white: rgb(250, 250, 250);

$dark-blue: #002163;
$blue: #003399;
$light-blue: #A0B8E6;
$teal: #008D83;
$purple: #301E77;

$red: #FF0700;
$green: #00C90D;

@mixin box-shadow($shadow) {
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin default-box-shadow() {
    @include box-shadow(1px 1px 2px #888888);
}

body {
    background-color: $white;
    font-family: 'Georgia';
    margin: 0 auto;
    text-align: center;
    width: 960px;
}

p, h1, h2, h3, h4 {
    color: $black;
}

a {
    color: $dark-gray;
    font-weight: bold;
    text-decoration: none;
    transition: all .2s;
    &:hover {
        color: $teal;
    }
}

#header {
    h1, h2 {
        font-family: 'Short Stack', cursive;
    }
    h2, a {
        position: relative;
    }
    h2 {
        font-style: italic;
        bottom: 13px;
    }
    a {
        bottom: 26px;
    }
}

form {
    margin: 39px 0;
    label {
        display: block;
        margin-top: 13px;
        font-style: italic;
    }
    select, option {
        background: $light-gray;
        color: $black;
    }
    #search-bar {
        width: 50%;
    }
}

table {
    width: 100%;
    tr {
        height: 36px;
        transition: all .2s;
    }
    thead {
        background: $dark-gray;
        th {
            color: $white;
        }
    }
    tbody tr {
        &:hover {
            background: darken($white, 10%);
            cursor: pointer;
        }
        &:nth-child(even) {
            background: $light-gray;
            &:hover {
                background: darken($light-gray, 10%);
            }
        }
    }
}

#footer {
    font-style: italic;
    margin-top: 52px;
}

a.btn {
    background: $dark-gray;
    border-radius: 5px;
    bottom: 0;
    color: $white;
    font-weight: normal;
    margin-right: 10px;
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
    right: 0;
    transition: .5s .1s;
    &:hover {
        @include box-shadow(2px 2px 3px $dark-gray);
        background: lighten($dark-gray, 5%);
        bottom: 2px;
        color: $white;
        cursor: pointer;
        right: 2px;
    }
    &:active {
        @include box-shadow(none);
        background: darken($blue, 10%);
        bottom: 0;
        right: 0;
        transition: .03s 0s;
    }
}

/* Pagination */
.pagination {
    height: 36px;
    margin: 26px 0;
    text-align: center;
    ul {
      border-radius: 3px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    li {
      display: inline;
    }
    a {
      float: left;
      padding: 0 14px;
      line-height: 34px;
      text-decoration: none;
      border: 1px solid #ddd;
      border-left-width: 0;
      &:hover {
        background-color: #f5f5f5;
      }
    }
    .active a {
      background-color: #f5f5f5;
      color: #999999;
      cursor: default;
    }
    .disabled {
      span {
        color: #999999;
        background-color: transparent;
        cursor: default;
      }
      a {
        color: #999999;
        background-color: transparent;
        cursor: default;
        &:hover {
          color: #999999;
          background-color: transparent;
          cursor: default;
        }
      }
    }
    li {
      &:first-child a {
        border-left-width: 1px;
        border-radius: 3px 0 0 3px;
      }
      &:last-child a {
        border-radius: 0 3px 3px 0;
      }
    }
}
