<!DOCTYPE html>
<html>
  <head>
    <title>Senioritis</title>
    <link rel="icon" type="image/x-icon" href="/media/img/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Croissant+One' rel='stylesheet' type='text/css'>
    {{ css('senioritis') }}
    {{ js('senioritis') }}
  </head>

  <body>
    <div id='header'>
      <h1><a href="/">Senioritis</a></h1>
      <h2>easy up your schedule</h2>
      <a class="link" href="http://github.com/ngokevin/senioritis">Source Code</a>
    </div>

    <form action="." method="get">
      <select onchange="this.form.submit()" name="school">
        {% for school in schools %}
          <option value="{{ school.school_id }}"{% if school.school_id ==
school_id %}selected="selected"{% endif %}>
            {{ school.name }}
          </option>
        {% endfor %}
      </select>
      <input id="search-bar" type="text" name="q" value="{{ q }}"></input>
      <a onclick="$(this).closest('form').submit();" class='submit btn'>Submit Laziness</a>
      <label for="search-bar">
        Search by department (eg. "mth, ANTH"), course (eg. "eng101, BIO
1, intro to learning"), professor surname (eg. "ratburn").
      </label>
    </form>

    {% if courses %}
      {% set page_obj = courses %}
      {% include 'senioritis/includes/pagination.html' %}
      <table>
        <thead>
          <tr>
            <th>{{ sort_link('Course', 'name')|safe }}</th>
            <th>{{ sort_link('Title', 'title')|safe }}</th>
            <th>{{ sort_link('Professor', 'professor')|safe }}</th>
            <th>{{ sort_link('GPA', 'gpa')|safe }}</th>
          </tr>
        </thead>
        <tbody>
          {% for course in courses %}
            <tr>
              <td>{{ course.name }}</td>
              <td>{{ course.title }}</td>
              <td>{{ course.professor }}</td>
              <td>{{ course.gpa }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% set page_obj = courses %}
      {% include 'senioritis/includes/pagination.html' %}
    {% endif %}

    <p id="footer">By <a href="http://ngokevin.com">ngokevin</a></p>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37085871-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript';
  ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
  'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(ga, s);
    })();

  </script>

  </body>
</html>
