<!DOCTYPE html>
<html>
  <head>
    <title>Senioritis</title>
    {{ css('senioritis') }}
    {{ js('senioritis') }}
  </head>

  <body>
    <div id='header'>
      <h1>Senioritis</h1>
      <h2>search for all of those easy A classes</h2>
      <a href="http://github.com/ngokevin/senioritis">github.com/ngokevin/senioritis</a>
    </div>

    <form action="." method="get">
      {{ csrf() }}
      <select name="school">
        {% for school in schools %}
          <option value="{{ school.school_id }}">{{ school.name }}</option>
        {% endfor %}
      </select>
      <input id="search-bar" type="text" name="q" value="{{ q }}"></input>
      <a onclick="$(this).closest('form').submit();" class='submit btn'>Submit Laziness</a>
      <label for="search-bar">
        Search by department (eg. "mth, anth"), course (eg. "ENG 101, BIO
106"), professor surname (eg. "ratburn").
      </label>
    </form>

    {% if courses %}
      {% set page_obj = courses %}
      {% include 'senioritis/includes/pagination.html' %}
      <table>
        <thead>
          <tr>
            <th>{{ sort_link('Course', 'name')|safe }}</th>
            <th>{{ sort_link('Title', 'title')|safe }}</th>
            <th>{{ sort_link('Professor', 'professor')|safe }}</th>
            <th>{{ sort_link('GPA', 'gpa')|safe }}</th>
          </tr>
        </thead>
        <tbody>
          {% for course in courses %}
            <tr>
              <td>{{ course.name }}</td>
              <td>{{ course.title }}</td>
              <td>{{ course.professor }}</td>
              <td>{{ course.gpa }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% set page_obj = courses %}
      {% include 'senioritis/includes/pagination.html' %}
    {% endif %}

    <p id="footer">Coming soon. Overachiever. Search for all those brain-stimulating
courses.</p>
  </body>
</html>
